
header {
    background: white;
    color: #ecf0f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo {
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 2px solid #f0f0f0; 
}


nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

nav ul li a {
    text-decoration: none;
    color: #888;
    font-weight: bold;
}

nav ul li a.active {
    color: orange; 
    border-bottom: 2px solid orange;
}

.header-text {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: bold;
    color: black;
    z-index: 2;
    text-align: center;
}
header {
    width: 100%;
    background-color: #fff;
    padding: 30px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.taust {
    width: 100%;
    height: 1130px;
    overflow: hidden;
}
.kast{
    height: 550px;
    width: 800px;
    position: absolute;
    bottom: 25%;
    right: 10%;
    background-color: blanchedalmond;
    color: grey;
    padding-left: 20px;
    padding-right: 20px;
}
.nupp {
    border-style: solid;
    font-weight: bold;
    border-color: peru;
    width: 200px;
    height: 80px;
    background-color: peru;
    color: white;
    font-family: Poppins;
    font-size: 15px;
}
.alatekst {
    font-family: Poppins;
    position: absolute;
    left: 43%;
    top: 1150px;
    padding-top: 0px;
    font-weight: bolder;
    font-size: 30px;
}
.alamtekst {
    font-family: Poppins;
    color: gray;
    position: absolute;
    left: 38%;
    padding-top: 25px;
    top: 1175px;
    font-weight: bold;
    font-size: 20px;

}
.dining {
    border-radius: 15px;
    position: absolute;
    left: 100px ;
    top: 1350px;
    width: 500px;
}
.sitting {
    border-radius: 15px;
    position: absolute;
    top: 1350px;
    width: 500px;
    left: 700px;
}
.sleeping {
    border-radius: 15px;
    position: absolute;
    top: 1350px;
    width: 500px;
    right: 100px;
}
.tekstdining {
    position: absolute;
    top: 2025px;
    left: 260px;
    font-family: Poppins;
    font-size: 40px;
}
.tekstliving {
    position: absolute;
    top: 2025px;
    left: 885px;
    font-family: Poppins;
    font-size: 40px;
}
.tekstbedroom {
    position: absolute;
    top: 2025px;
    right: 250px;
    font-family: Poppins;
    font-size: 40px;

}
.ourproducts  {
    position: absolute;
    top: 2150px;
    left: 41%;
    font-size: 50px;
    font-family: Poppins;
}
.ostukast{
    height: 520px;
    width: 350px;
    background-color: #f1f1f1;
    position: absolute;
    top: 2300px;
    left: 180px;
}
.ring {
    height: 60px;
    width: 60px;
    background-color: red;
    position: relative;
    top: 1110px;
    left: 430px;
    z-index: 10;
    border-radius: 50%
}
.tekstring{
    position: relative;
    z-index: 10;
    top: 1065px;
    left: 432px;
    font-family: Poppins;
    font-size: 20px;
    color: white;
}
.body {
    overflow-x: hidden;
}
.kasthover{
    opacity: 90%;
    height: 520px;
    width: 350px;
    background-color: gray;
    position: absolute;
    top: 2300px;
    left: 180px;
    
}
.ostukast2{
    height: 520px;
    width: 350px;
    background-color: #f1f1f1;
    position: absolute;
    top: 2300px;
    left: 580px;
    }
.ostukast3{
    height: 520px;
    width: 350px;
    background-color: #f1f1f1;
 position: absolute;
   top: 2300px;
  right: 580px;
   }
   .ostukast4{
    height: 520px;
    width: 350px;
    background-color: #f1f1f1;
 position: absolute;
   top: 2300px;
  right: 180px;
   }
   .ostukast5{
    height: 520px;
    width: 350px;
    background-color: #f1f1f1;
    position: absolute;
    top: 2900px;
    left: 180px;
    }
    .ostukast6{
    height: 520px;
    width: 350px;
    background-color: #f1f1f1;
    position: absolute;
    top: 2900px;
    left: 580px;
    }
    .ostukast7{
        height: 520px;
        width: 350px;
        background-color: #f1f1f1;
        position: absolute;
        top: 2900px;
        right: 580px;
        }
        .ostukast8{
    height: 520px;
    width: 350px;
    background-color: #f1f1f1;
    position: absolute;
    top: 2900px;
    right: 180px;
    }
.kast2 {
    width: 300px;
    height: 170px;
    background-color:white;
    opacity: 90%;
    position: relative;
    z-index: 10;
    top: 2920px;
    left:42% ;
    }
.nupp2 {
    width: 60px;
    height: 60px;
    font-size:35px;
    color: white;
    background-color: rgb(219, 158, 44);
    border-style: none;
    position: absolute;
    top:4339px;
    left: 58%;
}